@import '../abstracts/mixins',
'../abstracts/variable';

header {
    background-color: $primary;
    z-index: 1000;

    @include mq(mobile) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .button--primary {
        margin-top: 20px;
        @include mq(mobile) {
            width: 80px;
        }
    }
}

.nav-left {
    width: 6.25%;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1000;
    overflow: hidden;

    @include mq(mobile) {
        width: 100%;
        height: 40px;
        padding-bottom: 0;
    }
}

.logo-box {
    width: 90px;
    height: 42px;
    display: grid;
    place-items: center;

    @include mq(mobile) {
        width: 100%;
        height: auto;
        display: block;
    }
}

.logo {
    width: 42px;
}

.rotated-text {
    transform: rotate(270deg) translateX(80px);
}

.hamIcon {
    display: block;
    padding: 20px;
    width: 62px;
    height: 58px;
    cursor: pointer;

    @include mq(mobile) {
        margin-right: 15px;
    }

    &__bar {
        background-color: gray;
        width: 22px;
        height: 2px;
        margin-bottom: 6px;
        transition: .5s;
    }

    @include mq(mobile) {
        // display: none;
    }
}

.crossIcon {
    .bar--middle {
        opacity: 0;
        transition: 0s;
    }

    .bar--top {
        transition: .5s;
        transform: rotate(45deg) translateY(11px);
        background-color: $primary;
    }

    .bar--bottom {
        transition: .5s;
        transform: rotate(-45deg) translateY(-11px);
        background-color: $primary;

    }
}


.navigation {
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 0;
    padding-left: 7%;
    transform: translateX(-100%);
    transition: .5s ease-in-out;

    &__text {
        width: 75%;

        @include mq(tablet){
            width: 100%;
        }
    }

    &__link {
        margin-top: 60px;
    }

    &__link--small {
        margin-top: 60px;
    }

    &__img {
        width: 25%;
        height: 100vh;
        background-size: cover;

        @include mq(tablet){
            width: 0%;
        }
    }
}

.nav__logo {
    width: 120px;
    position: absolute;
    top: 8%;
    left: 7%;
}

.active {
    transform: translateX(0%);
}

.phone-no{
    position: absolute;
    left: 63%;
    bottom: 4%;

    @include mq(tablet){
        left: 76%;
    }

    @include mq(mobile){
        left: 56%;
    }
}