@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Syne', sans-serif;
}

.heading-one {
    font-size: 7.5vw;
    line-height: 7.5vw;
    font-weight: 400;

    @include mq(tablet) {
        font-size: calc(7.5vw + 1rem);
        line-height: calc(7.5vw + 1rem);
    }
    @include mq(mobile) {
        font-size: 50px;
        line-height: 50px;
    }
}

.heading-two {
    font-size: 80px;
    line-height: 82px;
    font-weight: 400;

    @include mq(tablet) {
        font-size: 54px;
        line-height: 54px;
    }

    @include mq(mobile) {
        font-size: 40px;
        line-height: 40px;
    }

}

.heading-three {
    font-size: 65px;
    line-height: 70px;
    font-weight: 400;
    @include mq(tablet) {
        font-size: 46px;
        line-height: 48px;
    }
    @include mq(mobile) {
        font-size: 30px;
        line-height: 34px;
    }
}

.heading-four {
    font-size: 47px;
    line-height: 54px;
    font-weight: 400;
    @include mq(tablet) {
        font-size: 38px;
        line-height: 46px;
    }
    @include mq(mobile) {
        font-size: 30px;
        line-height: 38px;
    }
}

.heading-five {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;

    @include mq(tablet) {
        font-size: 24px;
        line-height: 32px;
    }
    @include mq(mobile) {
        font-size: 18px;
        line-height: 24px;
    }
}

.heading-six {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    @include mq(tablet) {
        font-size: 20px;
        line-height: 30px;
    }
}

.text-medium {
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
}


.text-base {
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    @include mq(tablet) {
        font-size: 16px;
        line-height: 24px;
    }
    @include mq(mobile) {
        font-size: 14px;
        line-height: 21px;
    }
}

.text-small {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
}

.text-extra-small {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}